TD_DATALAKE/DATALAKE/1_LANDING_ZONE/GLASSDOOR/AVI/*
TD_DATALAKE/DATALAKE/1_LANDING_ZONE/GLASSDOOR/SOC/*
TD_DATALAKE/DATALAKE/1_LANDING_ZONE/LINKEDIN/EMP/*
TD_DATALAKE/DATALAKE/2_CURATED_ZONE/GLASSDOOR/AVI/*
TD_DATALAKE/DATALAKE/2_CURATED_ZONE/GLASSDOOR/SOC/*
TD_DATALAKE/DATALAKE/2_CURATED_ZONE/LINKEDIN/EMP/*